{% extends '../components/layout-no-navbar.html' %} {% set pageTitle = 'Kohapp Content' %} {% set cssFiles =
  './assets/css/style.css' %} {% block content %}
  <div class="container mx-auto">
    <h1 class="text-3xl mt-12">Welcome to kohapp</h1>
    <h5 class="text-lg mt-5 mb-1">All Roles</h5>
    <div class="inline-flex flex-col ml-3 space-y-2">
      <a href="signin.html">Sign In</a>
      <a href="signup.html">Sign Up</a>
      <a href="recover-password.html">
        Recover Password        
      </a>
      <a href="recover-change-password.html">
        Change Password        
      </a>
      <a href="home.html">Home</a>
      <a href="create-event.html">
        Create Event        
      </a>
      <a href="start-collection.html">
        Start Collection        
      </a>
      <a href="event.html">Event</a>
      <a href="give-donation.html">Give Donation</a>
      <a href="koha.html">Koha</a>
      <a href="event-detail.html">Event Detail</a>
      <a href="collection-detail.html">Collection Detail</a>
      <a href="collection-koha.html">Collection Koha</a>
      <a href="donation-success.html">Donation Success</a>
      <a href="notification.html"> Notification </a>
      <a href="myprofile.html"> My Profile </a>
      <a href="akahu-account.html"> Akahu Account </a>
      <a href="myevent.html">
        My Event        
      </a>
      <a href="collect.html"> Collect </a>
      <a href="mydonation.html">My Donation</a>
      <a href="finance.html">
        Financial Management        
      </a>
      <a href="withdraw.html">
        Withdraw        
      </a>
    </div>
  </div>
  </div>
  {% endblock %}
  