{% macro pages() %}
<nav class="flex items-center border-b border-gray-600 sticky top-0 w-full py-3 bg-primary z-40">
  <div class="container mx-auto flex items-center justify-between">
    <a class="text-4xl font-medium" href="home.html">Kohapp</a>
    <a role="button" class="ml-auto mr-6"><i class="fas fa-search text-2xl"></i></a>
    <button
      class="text-2xl"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      onclick="openMenu()"
    >
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </button>
  </div>
</nav>
<div
  class="fixed top-0 right-0 translate-x-full bg-gray-900 text-white w-full h-full duration-700 z-50"
  tabindex="-1"
  id="menu"
  aria-labelledby="menu"
>
  <div class="container">
    <div class="flex border-bottom px-0 pt-7 pb-4">
      <button
        type="button"
        class="text-white ml-auto text-xl"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        onclick="closeMenu()"
      >
        <i class="fas fa-xmark text-3xl hover:text-gray-500"></i>
      </button>
    </div>
    <div class="flex mt-7">
      <div class="grow hidden sm:block">
        <h3 class="text-xl md:text-4xl mb-4">Kohapp</h3>
        <p>
          Supporting users to digitally create, <br />
          donate, collect and record <br />
          donations.
        </p>
      </div>
      <div class="flex-none flex flex-col space-y-8">
        <h3 class="text-4xl">Menu</h3>
        <a href="myevent.html" class="hover:text-gray-500"><i class="fas fa-file-alt mr-2"></i>My Event</a>
        <a href="myprofile.html" class="hover:text-gray-500"><i class="fas fa-user-alt mr-2"></i>My Profile</a>
        <a href="mydonation.html" class="hover:text-gray-500"><i class="fas fa-book mr-2"></i>My Donation</a>
        <a href="akahu-account.html" class="hover:text-gray-500"><i class="fas fa-user-gear mr-2"></i>Akahu Account</a>
        <a role="button" href="signin.html" class="btn btn-primary mt-3">Sign In</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %} {% macro detailPages(title, link) %}
<nav class="navbar navbar-light border-bottom border-secondary fixed-top">
  <div class="container gap-3 gap-md-5 gap-xl-6">
    <a href="{{ link }}" class="fs-3"><i class="fas fa-arrow-left"></i></a>
    <h1 class="navbar-brand text-center col">{{ title }}</h1>
  </div>
</nav>
{% endmacro %}
